/quizdroid1/local.properties
/quizdroid1/.idea/workspace.xml
/quizdroid1/.idea/libraries
/quizdroid2/local.properties
/quizdroid2/.idea/workspace.xml
/quizdroid2/.idea/libraries
.DS_Store
/quizdroid1/build
/quizdroid2/build
